/* 한글 깨지지 않도록 utf-8 charset을 설정 */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

body{font-family: Tahoma, "Malgun Gothic", Geneva, Verdana, sans-serif;}
h1,h2,h3,h4,h5{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}

.header_top, .header_title, 
.s1, .s3_cont, .s4, 
.footer_in, .footer_out{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    height: 500px;
    background-color: #000;
    background-image: url('../img/header_bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.header_top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.top_logo {}
.top_logo a {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-shadow: 0 0 20px #fff;
}
.top_logo span{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #f00;
}

.top_menu {}
.top_menu ul {}
.top_menu li {
    float: left;
    margin-left: 25px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}
.top_menu a {
    font-size: 14px;
}

.header_title{
    text-shadow: ;
    /* padding-left: 50px; */
    padding-top: 80px;
}
.header_title h2{
    font-family: 'Dosis', sans-serif;
    font-size: 72px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}
.header_title p{
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.gnb{
    height: 50px;
    background: linear-gradient(to right, #a2d2ff 0%, #ffe 50%, #feefee 100%);
    text-align: center;
}
.gnb > div{}
.gnb ul{
    overflow: hidden;
    display: inline-block;
}
.gnb li {
    float: left;
}
.gnb li a{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin: 0 50px;
    line-height: 50px;
    color: #333;
    transition: all 1s;
}
.gnb li:hover a{
    color: #000;
}
.gnb li a::after {
    content:'';
    display: block;
    width: 0%;
    height: 5px;
    margin-top: -5px;
    transition: all 0.5s;
}
.gnb li:hover a::after{
    width: 100%;
    background: #f00;
}

/* contents */
section {}
.s1 {
    display: flex;
    margin: 110px auto;
    flex-wrap: wrap;
}
.s1 > h3 {
    width: 100%;
    font-size: 36px;
    padding: 0 10px;
}
.s1 h3:after {
    display:block; content:'';   
    width:40px; height:5px;
    background:#f00;
    }
.s1 > h3 span{
    text-decoration: underline;
}
.s1 > div {
    flex: 1;
    text-align: center;
    margin-top: 40px;
}
.s1_txt{
    padding-top: 10px;
}
.s1_txt strong{}
.s1_txt span{
    font-size: 14px;
    color: #555;
}

.s2 { 
    background:linear-gradient(to right ,#feefee 0%, #fff 50%, #feefee 100%);
    padding:80px 0;
  }
  .s2 > div { text-align:center;}
  .s2_icons { 
    display:inline-block;
  }
  .s2_icons li {      
      display:inline-block;
      margin:0 20px;
  }
  .s2_icons a { display:block; }
  .s2_icons a:hover p{
      text-decoration: underline;
  }
  .s2_icons a img { width:80px; }
  .s2_icons a p { 
    margin-top:10px;
    font-family: 'Dosis', sans-serif;
}

.s3 { 
    margin:80px 0; 
}
.s3_title { text-align:center;}
.s3_title p { 
    font-size:14px;
    color:#858585;
}
.s3_title h3 {
    font-size:36px;
    margin-top:10px;
}
.s3_title h3:after {
    display:block; content:'';
    position:absolute; left: calc(50% - 40px);     
    width:80px; height:5px;
    background:#f00;
    margin-top:0px;
}

.s3_cont {
    display:flex;
    margin-top: 40px;
}
.s3_cont > div {
}
.s3_cont .article{
    transition: box-shadow 0.3s;
    position: relative;
}
.s3_cont .article:nth-of-type(3){
/*     ! margin-top: 40px; */
}
.s3_cont .article:hover .texts{
    color: #fff;
}
.s3_cont .article:hover{
    box-shadow: 0 0 10px #999;
}
.s3 img{
    position: relative;
}
.s3 .texts {
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: color 0.3s;
    color: transparent;
}
.s3_cont > div:nth-child(2){
    margin:0 20px;
}
.s3_cont > div:nth-child(2) > .article:nth-of-type(2){
    margin-top: 40px;
}
.s3_cont > div:last-child{
    padding: 60px 10px;
}
.s3_cont > div:last-child h4{
    margin-bottom: 10px;
}
.s3_cont > div:last-child p{
    margin: 30px 0 40px;
    font-size: 14px;
    line-height: 1.4;
}
.more{
    color: #555;
    font-size: 14px;
}
.more:hover{
    color: #f00;
}
.sns {
    margin-top: 50px;
}
.sns a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #999;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    transition: all 0.3s;
}
.sns a:hover{
    color: #000;
    background:#111;
}
.sns i {
    color: #fff;
    line-height: 30px;
}

.s4 {padding: 80px 0;}
.s4 h3 {
    margin-bottom:30px;
    }
.s4 h3:after {
    display:block; content:'';   
    width:60px; height:5px;
    background:#f00;
    margin-top: 10px;
    }
.s4 ul {
    display: flex;
    justify-content: space-between;
}
.s4 li {
}
.s4 img {
    width: 180px;
    transition: all 0.3s;
}
.s4 img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px #555;
}

footer{
    padding: 80px 0;
    background: linear-gradient(to bottom, #feefee -50%, #fff 50%, #a2d2ff 200%);
    margin-top: 40px;
}
.footer_in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer_in::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #999;
    bottom: -40px;
    left: 0;
}
footer h2 span{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #333;
}
.footer_in p{
    text-align: right;
}
footer .address{
    display: block;
    text-align: right;
    font-style: normal;
    font-size: 14px;
    margin-top: 20px;
}

.footer_out{
    margin-top: 50px;
}
.footer_out ul {display: flex;justify-content: space-between;margin-top: 20px;}
.footer_out ul li {
    width: calc(100% / 4 - 20px);
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.footer_out ul li:nth-of-type(1) {
    background-image: url('../img/footer1-1.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.footer_out ul li:nth-of-type(2) {
    background-image: url('../img/footer1-2.png');
}
.footer_out ul li:nth-of-type(3) {
    background-image: url('../img/footer1-3.png');
}
.footer_out ul li:nth-of-type(4) {
    background-image: url('../img/footer1-4.png');
}